body{
    margin: 0px;
    padding: 0px;
    background-color: black;

}
.img1{
    margin: 0;
    height: 129vh;
    min-width: 100vh; /* Define a altura mínima*/
    background-size: cover; /*A iamgem cobre todo o espaço*/
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6; /*Deixa a imagem transparente*/
}